/* GERAL */

body {
    background-color: #000;
}

/* GERAL .CLASS*/
.btn-custom-white {
    background-color: #FFF;
}

.btn-custom-white:hover {
    background-color: #FFF;
    opacity: 0.8;
}

.btn-custom-translucent {
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.2);
}

.btn-custom-translucent:hover {
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0.8;
}

.btn-custom-round {
    padding: 5px 9px !important;
}

/* LOGIN */
.bg-movies {
    background: url('../assets/netflixBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* LOGIN #ID */
header#menu_header {
    padding: 45px;
    max-width: 20%;
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.11) 0%,
            rgba(0, 0, 0, 0.0103) 100%);
}

#box_login {
    padding: 50px;
    margin-top: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 7px;
}

#btn_enter {
    background-color: rgb(248, 46, 46);
    color: #fff;
    border: none;
}

#btn_enter:hover {
    background-color: rgb(240, 33, 33);
    color: #fff;
    border: none;
}

#btn_enter:active {
    background-color: rgb(255, 0, 0);
    border: none;
}

/* HOME */

section {
    margin-bottom: -100px;
    position: relative;
}

section:hover {
    z-index: 9;
}

/* HOME #ID */
header#home_header {
    padding: 50px;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 3;
    background: linear-gradient(180deg,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0.0103) 100%);
}

header#home_header img {
    max-width: 100%;
}

#top_movie {
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 0;
}

#top_movie::after {
    content: '';
    width: 100%;
    height: 350px;
    display: block;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0) 100%);
    position: absolute;
    left: 0;
    z-index: 2;
    top: calc(750px - 350px)
}

#top_movie_infos {
    padding: 0;
    margin-top: 170px;
    z-index: 3;
    position: relative;
}

#top_movie_infos img.logo {
    margin-bottom: 10px;
    width: 400px;
}

#top_movie_infos h1 {
    margin-bottom: 10px;
}

#top_movie_infos h1 img {
    width: 35px;
    margin-top: -10px;
    margin-right: 10px;
}

#main_content {
    margin-top: 800px;
}

/* HOME .CLASS */
.menu_list {
    margin-left: 80px;
    list-style: none;
    padding-top: 13px;
    padding-left: 0px;
}

.menu_list li {
    display: inline-block;
    margin-right: 20px;
}

.menu_list li a {
    color: #FFF;
    text-decoration: none;
}


.menu_list li a:hover {
    text-decoration: underline;
}

.movie_list {
    overflow-x: scroll;
    list-style: none;
    white-space: nowrap;
    margin-left: 25px;
    padding: 20px;
    display: block;
    border: 1px solid transparent;
}

h5.text-white {
    margin-left: -150px
}

.movie_list::-webkit-scrollbar {
    display: none;
}

.movie {
    display: inline-block;
    width: 300px;
    border-radius: 3px;
    margin-right: 10px;
    overflow: auto;
    border: 1px solid transparent;
}

.movie:hover {
    cursor: pointer;
    transform: scale(1.2);
    z-index: 999;
    transition: 0.5s;
}

.movie:hover .movie_info {
    transform: scale(1.0);
    transition: 0.5s;
}

.movie:first-child {
    margin-left: 110px;
}

.movie_info {
    background-color: #171717;
    padding: 10px;
    height: 100px;
    width: 100%;
    transform: scale(0);
}

.movie_info .col-12 {
    margin-top: 5px;
}

.movie_info .col-12:first-child {
    margin-bottom: 20px;
}

.movie_info p {
    color: #7E7B7B;
}



/* MODAL */
.modal-dialog,
.modal-content {
    background-color: #171717;
}

.modal-dialog {
    max-width: 600px;
}

.modal-main {
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-position-y: top;
    padding: 40px;
}

.modal-main::after {
    content: '';
    width: 100%;
    height: 100px;
    display: block;
    background: linear-gradient(180deg, rgba(23, 23, 23, 0) 0%, #171717 100%);
    position: absolute;
    left: 0;
    margin-top: -70px;
    z-index: 1;
}

.modal-main-infos {
    margin-top: 235px;
    position: relative;
    z-index: 2;
}

.modal-main-infos button:first-child {
    margin-right: 20px;
}

.movie_description {
    font-size: 15px;
    color: rgba(255, 255, 255);
}

.movie_cast {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.55);
}

.movie_cast text {
    color: #fff;
}

#episode_list {
    list-style: none;
    padding: 0;
}

#episode_list li {
    padding: 20px;
}

#episode_list li:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.05);
}

#episode_list li p {
    font-size: 15px;
    color: #7E7B7B;
}